.container-fluid{
	
}

.imgslider {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.logoimg{
	max-height: 35px;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 5px;
}

.title-banner{		<!---------- titre des sections ------------>
	height: 150px;
	text-align: center;
	font-size: 2.5em;
	color: #ffffff;
	margin-top: 15px;
	background-color: #331a00;
}

					<!---------------- textes ---------------->

.text-presentation {
	font-size: 1.5em;
	text-align: justify;
	padding: 5px 15px 5px 15px;
}

.text-bottes {

}

.text-personna {

}

.txtintro{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.5em;
	text-align: justify;
}

.text-chausse {

}
.titrechausse {
	height: 100px;
	text-align: center;
	background-color: #331a00;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 5px;

}
					<!---------------- images ---------------->


.img-1 {

	width : 300px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	margin: 0px 15px 0px 5px;

}

.thumbnail {
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}




.thumbnail{
	height: 650px;
}

=======
#slider{
	margin-top: 50px;

}


.navbar {
  margin-left: 15px;
  
}






#oppenstreet{
	padding-left: 5%;
	padding-top: 20px;
}


#formulaire{
	text-align: left;
	padding-top: 20px;


	

}

#txtformulaire{
		
}

.form-horizontal{
	margin-right: 50%;
}

#resultat{
	padding-left: 5%;
	font-family: arial;
	padding-bottom: 20px

}


