

body {
	background-image: url("images/footer_lodyas.png");
	background-attachment: fixed; ;
}

.container-fluid {
}
/* remove class row*/

.imgslider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 79px;
	
	
}
.carou{
	
	height: auto;
	margin: 0;
	

}

.carousel-caption{
	color: #000;
	font-family: 'Julius Sans One', sans-serif;
	padding-bottom: 110px;
	margin-left: 350px; 
	margin-bottom: 30px;
	border-radius: 10px;
	height: 100px;
	width: 270px;

	
	
	
	
	

}

.carousel-control {
  padding-top: 100px;
  color: #ffffff;
}
.carousel-indicators{

}


.logoimg{
	max-height: 45px;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 100px;
}

.title-banner{		<!---------- titre des sections ------------>
	height: 0px;
	text-align: center;
	font-size: 4em;
	font-family: 'Julius Sans One', sans-serif;
	font-style: bold;
	font-variant: small-caps;
	color: #F2D085;
	
	margin-bottom: 20px;
	border-bottom: 1px solid #8e8b86;
	border-top: 1px solid #8e8b86;
	background-color:rgba(142, 139, 134, 0.2);
	/*background-image: url(images/lanniere_cuir2.jpg);*/
	/*background-size: 33px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	/*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);*/

}

					<!---------------- textes ---------------->


.text-presentation {
	font-size: 1.5em;
	text-align: justify;
	padding: 5px 15px 5px 15px;
}


.txtintro {
	padding: 15px 20px 20px 20px;
	font-size: 1.7em;
	text-align: justify;
	font-family: 'Poiret One', cursive;
	font-style: bold;
	color: #ffffff;
}

					<!---------------- images ---------------->


.img-thumbnail {
}


.img-1 {
	min-height: 300px;
	max-height: 500px;
	border-radius: 5px;
	border: 2px solid #ffffff;
}


.modal_img {
	max-width: 300px;
	max-height: 200px;
	padding: auto;
	border-radius: 10px;
}


.modal_img_int {
	text-align: center;
	max-height: 200px;
}

.thumbnail {
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 10px 10px 10px 10px;
	max-width: 600px;
	height: 460px;
	margin-left: auto;
	margin-right: auto;
}



.thumbnail img {
	height: 200px;
	max-height: 200px;
	border-radius: 10px;
}

.modal-body {
	font-size: 1.2em;
	font-family: josefin, verdana, arial, serif;
	text-align: justify;
	color:black;
	
}
.caption p {
	font-size: 1.2em;
	font-family: josefin, verdana, arial, serif;
}

#slider{

}


.navbar {
	min-height: 80px;
	font-family: 'Julius Sans One', sans-serif;
	



}

.navbar-collapse {
	padding-top: 15px;
	font-size: 21px;
	
}

.navbar-inverse {
 	background: rgba(0, 0, 0, 0.755);
	margin-bottom: 100px;
 	
	
}


.titrechausse {
	height: 100px;
	text-align: center;
	background-color: #331a00;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 5px;
}

.text-chausse {
	font-size: 1.5em;
	text-align: justify;
	margin : 0px 0 0px 30px;
}


#oppenstreet{
	padding-left: 5%;
	padding-top: 20px;
}


#formulaire{
	text-align: left;
	padding-top: 20px;
	padding-left: 70px;
	color: #ffffff;

}

#txtformulaire{
		
}

.form-horizontal{
	margin-right: 50%;
}

#resultat{
	padding-left: 5%;
	font-family: arial;
	padding-bottom: 20px

}

.imgsocial{
	max-width: 40px;
}

.imgbanq{
	margin-left: 28%;
	padding-top: 15px;
	padding-bottom: 20px;

}
@grid-float_breakpoint {

}

