
.container-fluid{
	
}

.imgslider {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.logoimg{
	max-height: 35px;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 5px;
}

.title-banner{		<!---------- titre des sections ------------>
	height: 150px;
	text-align: center;
	font-size: 2.5em;
	color: #ffffff;
	margin-top: 15px;
	background-color: #331a00;
}

.titrechausse {
	height: 100px;
	text-align: center;
	background-color: #331a00;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 5px;
}

					<!---------------- textes ---------------->


.text-presentation {
	font-size: 1.5em;
	text-align: justify;
	padding: 5px 15px 5px 15px;
}




.txtintro {
	padding: 20px 20px 20px 20px;
	font-size: 1.5em;
	text-align: justify;
}





					<!---------------- images ---------------->


.img-1 {

	width : 300px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	margin: 0px 15px 0px 5px;

}


.modal_img {
	max-width: 450px;
	padding: auto;
	border-radius: 10px;
}

.text-bottes {
	font-size: 1.5em;
	text-align: justify;
	margin : 15px 0 0px 30px;

}
.modal_img_int {
	text-align: center;
}

.text-personna {
	font-size: 1.5em;
	text-align: justify;
	margin : 15px 0 0px 30px;

}

.thumbnail {
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
	padding: 10px 10px 10px 10px;
	max-width: 600px;
	height: 650px;

}

.thumbnail img {
	max-height: 200px;
}
		



#slider{
	margin-top: 50px;

}


.navbar {

}


.navbar-inverse {
  background-color: #331a00;
 
}

.titrechausse {
	height: 100px;
	text-align: center;
	background-color: #331a00;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 5px;
}

.text-chausse {
	font-size: 1.5em;
	text-align: justify;
	margin : 0px 0 0px 30px;
}


#oppenstreet{
	padding-left: 5%;
	padding-top: 20px;
}


#formulaire{
	text-align: left;
	padding-top: 20px;
	padding-left: 70px;

}

#txtformulaire{
		
}

.form-horizontal{
	margin-right: 50%;
}

#resultat{
	padding-left: 5%;
	font-family: arial;
	padding-bottom: 20px

}

.row{
	padding-top: 20px;
}


